h1,div,p{
    padding: 0;
    margin: 0;
}
*{
    padding: 0;
}
body{
    margin: 0;
}

nav.navbar{
    background: green;
}
nav.navbar .nav-brand{
    height: 70px;
    padding: 0 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav.navbar .nav-brand .nav-btn{
    width: 40px;
    aspect-ratio: 1/1;
    font-size: 25px;
}
.nav-menu{
    display: none;
    padding: 8px 10px;
    background-color: rgb(6, 6, 6);
}
.nav-menu.is-active{
    display: block;
}
nav.navbar .nav-menu ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

nav.navbar .nav-menu ul li .nav-link{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

@media (min-width:992px){
    nav.navbar .nav-brand .nav-btn{
        display: none;
    }
    nav.navbar{
        display: flex;
        justify-content: space-between;
    }
    nav.navbar .nav-menu{
        background-color: transparent;
    }
    nav.navbar .nav-menu ul{
        gap: 40px;
        flex-direction: row;
    }
}